.layout {
  display: flex;
  min-height: 100vh;
  background: #f7f9fb;
}

.layout-content {
  margin-left: 256px;
  flex: 1;
  min-height: 100vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 0;
  }
}
