<main class="grow flex items-center justify-center px-margin-mobile md:px-margin-desktop py-5 relative overflow-hidden">
  <div class="w-full max-w-xl z-10">

    <div class="mt-12 glass-card rounded-xl p-8 md:p-12 shadow-sm border border-white/20">
      <h3 class="font-headline-md text-headline-md text-on-surface mb-2">Reset Password</h3>
      <p class="font-body-md text-on-surface-variant mb-6">Enter your email and we'll send a secure link.</p>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="SendEmailWithOtp()" class="space-y-6">
        <input formControlName="email"
          class="sunken-input w-full px-4 py-3.5 rounded-lg bg-white/50 border border-outline-variant outline-none"
          placeholder="your@email.com" type="email">
        @if(forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched){
        <div class="text-red-500 text-sm mt-1">
          Please enter a valid email address.
        </div>
        }

        <!-- Success message visible after action -->
        @if(forgetPasswordForm.valid && isSended()){
        <div class="p-4 bg-tertiary-container/20 border border-tertiary-container/30 rounded-lg flex items-start">
          <span class="material-symbols-outlined text-tertiary mr-3">info</span>
          <p class="text-label-sm text-tertiary-container font-medium">Success! If that email exists in our system,
            you will receive a reset link shortly.</p>
        </div>
        }

        <button type="submit" [disabled]="forgetPasswordForm.invalid"
          [ngClass]="forgetPasswordForm.invalid ? 'opacity-50 cursor-not-allowed' : 'hover:bg-primary/5'"
          class="w-full border border-primary text-primary py-4 rounded-lg font-label-md text-label-md uppercase tracking-widest hover:bg-primary/5 transition-colors">
          Send Reset Link
        </button>
      </form>
    </div>
  </div>
</main>